.nav{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-left: 10px;
}
ul{
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 20px;
}
ul li{
  list-style: none;
  padding: 10px;
  padding-top: 6px;
}
.area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}
.text{
  height: 268px;
  width: 721px;
}
.btn{
  margin-left: 100px;
}
.pre{
  margin-top: -8px;
}
